#container {
	display: flex;
	justify-content: space-evenly;
}

#gameButtons {
	border: 1px solid #000;
	width: 25%;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}


#gameResults {
	border: 1px solid #000;
	width: 25%;
}

#pastGames {
	border: 1px solid #000;
	width: 25%;
}